{$UI_DOMAIN} {
	encode zstd gzip

	reverse_proxy kista-ui:3000 {
		# 컨테이너 재시작 공백 동안 클라이언트 요청 재시도
		lb_try_duration 120s
		lb_try_interval 500ms

		health_uri      /api/health
		health_interval 10s
		health_timeout  5s
	}
}
